<%- include('partials/header') %>

    
  <form action="/report/<%=id%>" style="text-align: center;" method="post">
    
    <!-- <h2><%=id%></h2> -->
    <h1 class="pb-5">Do You Want To Report This Post!</h1>
  
  <a href="/main" class="btn btn-primary btn-md" type="submit">No, Go Back</a>
  
  <button class="btn btn-primary btn-md" type="submit">Yes, Report This Post</button>
</form>

<%- include('partials/bottom-footer2') %>
<%- include('partials/footer') %>